<html>
<head>
    <meta charset="utf-8">
    <meta content="IE-edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, intial-scale=1.0" name="viewport">
    <title>Awesome Shop</title>
    <!-- stylesheet -->
    <link rel="stylesheet" href="assets/css/stylePage.css">
    <!--fav-icon---------------->
    <link rel="shortcut icon" href="assets/images/fav-icon.png"/>
	<!--using FontAwesome--------------->
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/c8e4d183c2.js"></script>
    <link type="text/css" rel="stylesheet" href="assets/css/lightslider.css" />   
      <!-- jQuery  -->
      <script src="assets/js/jQuery.js"></script>
      <!-- light-slider-js -->
      <script src="assets/lightslider.js"></script>
</head>
<body>
    <!-- navigation section -->
    <div class="navigation">
        <!-- logo -->
        <strong><a href="#!" class="brand-logo">Awesome<span class="brand-logo-color">Shop</span></a></strong>
        <!-- right menu -->
        <div class="right-menu">
            <!-- question -->
            <a href="#">
                <i class="fas fa-question-circle"></i>
            </a>
            <a href="#">Need Help</a>
            <a href="#" ><button>Join</button></a>

        </div>

    </div>
    <!-- search-bar -->
    <div class="search-bar">
        <!-- search-input -->
        <div class="search-input">
            <!-- input  -->
            <input type="text" placeholder="Search your products from here">
            <!-- cancel-btn -->
            <a href="#" class="search-cancel">
                <i class="fas fa-times"></i>
            </a>
        </div>
    </div>
    <!-- Full-slider -->
    <ul id="adaptive" class="cs-hidden">
        <!-- box-1 -->
        <li class="item-a">
        <!-- box -->
            <div class="full-slider-box f-slider-1">
            <!-- slider-text-container -->
                <div class="slider-text-container">
        
                <div class="f-slider-text">
                    <span>Limited offer</span>
                    <strong>30% off<br> with <font> promo code</font> </strong>
                    <a href="#" class="f-slider-btn">Shop Now</a>
                </div>
        
                </div>
    
            </div>
        </li>
        <!-- box-2 -->
        <li class="item-a">
            <!-- box -->
                <div class="full-slider-box f-slider-2">
                <!-- slider-text-container -->
                    <div class="slider-text-container">
            
                    <div class="f-slider-text">
                        <span>Limited offer</span>
                        <strong>30% off<br> with <font> promo code</font> </strong>
                        <a href="#" class="f-slider-btn">Shop Now</a>
                    </div>
            
                    </div>
        
                </div>
            </li>
            <!-- box-3 -->
            <li class="item-a">
                <!-- box -->
                    <div class="full-slider-box f-slider-3">
                    <!-- slider-text-container -->
                        <div class="slider-text-container">
                
                        <div class="f-slider-text">
                            <span>Limited offer</span>
                            <strong>30% off<br> with <font> promo code</font> </strong>
                            <a href="#" class="f-slider-btn">Shop Now</a>
                        </div>
                
                        </div>
            
                    </div>
                </li>
        
    </ul>






    

   
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript">
         // full-slider-script
    $(document).ready(function() {
    $('#adaptive').lightSlider({
        adaptiveHeight:true,
        item:1,
        slideMargin:0,
        loop:true
        });
    });
    </script>
</body>
</html>

 <!-- menu
 <ul class="menu">
    <li><a href="#"><i class="fas fa-question-circle"></i></a></li>
    <li><a href=""></a>Need Help</li>
    <li><a href=""></a>Join</li>

</ul> -->